body{
    background-color:rgb(248, 199, 207);
    color:rgb(211, 57, 82)
}
.header{
    background-color:rgb(250, 250, 250);
    display:flex;
    padding:10px;
    gap:10px;
    align-items: center;
}
.hello{
    margin:0;
    font-size:20px;
}
.comfy{
  margin:0;
    font-size:13px;
}
.main{
    font-size:60px;
    letter-spacing:0px;
    margin-top:70px;
    color:rgb(184, 25, 51);
    font-family:sans-serif;
}
.para{
    font-size: 20px;
    font-family: sans-serif;
    align-content: center;
}
.button{
    color:white;
    background-color:rgb(194, 68, 89);
    padding:14px;
    border-color:rgb(194, 68, 89);
    margin-left: 40px;
}
.secondbutton{
    color:rgb(194, 68, 89);
    padding:14px;
    border-color:white;
    margin-left: 50px;
}
.blue{
    padding:10px;
    display: flex;
    justify-content: center;
}
.smolhead{
    font-size:40px;
    color:rgb(184, 25, 51);
    font-family: sans-serif;

}
.pink{
    display:flex;
    font-size: 20px;
  
}
.table {
    padding:5px;
    background-color: rgb(199, 79, 99);
    margin-right:50px;
}
.table td{
    padding:20px;
    background-color: white
}
.table tr{
    border:rgb(145, 22, 42);
}
.rows{
    padding:5px;
}
.green{
  margin-right:50px;
}
.lasth{
    margin-left:500px;
    font-size:50px;
    color:rgb(167, 50, 69);
}
.lastp{
    margin-left:500px;
    font-size:25px;
    color:rgb(167, 50, 69);
}
.last{
    margin-left:400px;
    margin-bottom: 20px
    ;
}
.last td{
    padding:18px;
    background-color: rgb(240, 130, 130);
    color:white;
    align-content: center;
}
.foot{
    display :flex;
    background-color: white;
    padding:20px;
}
.foot p{
    margin-left:15px;
    font-size: medium;
    font-family: sans-serif;
}
.b1{
    margin-left: 700px;
    width:90px;
    color:white;
    background-color: rgb(185, 61, 81);
    border-color: rgb(185, 61, 81);
}
.b2{
  margin-left:10px;  
  width:90px;
    color:white;
    background-color: rgb(185, 61, 81);
    border-color: rgb(185, 61, 81);
}
@media (max-width: 768px) {

  .main {
    font-size: 32px;
    margin-top: 30px;
  }

  .para {
    font-size: 16px;
  }

  .smolhead {
    font-size: 28px;
  }

  .pink {
    flex-direction: column;
    align-items: center;
  }

  .table td {
    font-size: 14px;
    padding: 12px;
  }

  .lasth {
    font-size: 32px;
  }

  .lastp {
    font-size: 18px;
  }

  .button,
  .secondbutton {
    width: 80%;
  }
}